html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: rgb(106, 106, 116);
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
p, [for ="abtype"] {
	margin: 2rem 0 0 0;
}
fieldset{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}
legend{
	font-weight: bold;
	font-size: 1rem;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	display: block;
}
label{
	display: block;
}
select{
	font-size: 1rem;
}
button{
	font-size: 1rem;
	background-color: black;
	color: blanchedalmond;
	margin: 2rem 0;
	border: none;
	padding: 0.5rem 0.8rem;
	border-radius: 10px;
}
button:hover {
	background-color: blanchedalmond;
	color: rgb(0, 0, 0);
}
input:not([type="radio"]):not([checkbox]),textarea,select {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 10px;
	border: none;
}










